<%- include("../../partials/header.ejs") %>
<%- include("../../partials/nav.ejs") %>

<div class="container">
    <div class="card mt-4">
        <div class="card-header"><h2>Nova categoria</h2></div>
        <div class="card-body">
            <form method="POST" action="/categories/save">
                <input class="form-control" type="text" name="title" placeholder="Título da categoria">
                <button class="btn btn-primary mt-2">Salvar</button>
            </form>
        </div>
    </div>
</div>

<%- include("../../partials/footer.ejs") %>